body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(10, 10, 43);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#start{
    background-color: green;
}
#reset{
    background-color: yellow;
}
#lap{
    background-color: blue;
}
button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #333;
    font-weight: 700;
}